<header>
    <h1>Catálogo de Discos Musicais</h1>
    <nav>
      <ul>
        <li><a href="/discos">Discos</a></li>
        <li><a href="/artistas">Artistas</a></li>
        <li><a href="/generos">Gêneros</a></li>
      </ul>
    </nav>
  </header>
  